<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--  Remove spring debug messages during tests
    https://stackoverflow.com/questions/35232827/spring-boot-test-ignores-logging-level/35254610#35254610
     -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="io.digital" level="debug"/>
    <logger name="org.springframework" level="error"/>
    <logger name="org.hibernate" level="error"/>
</configuration>
